@model radisutm.Models.GrantModel


<div class="m-alert m-alert--outline alert alert-info alert-dismissible fade show" role="alert">
    <div class="form-group m-form__group row">
        <div class="col-md-3 ">
            <small> Reference No :@Model.REFERENCE_NO</small>
</div>
        <div class="col-md-3">
            <small>Cost Center No. :@Model.COST_CENTER_CODE</small>

        </div>
        <div class="col-md-3">
            <small>Created Date : 0003-10-20 17:00:00</small>
        </div>
        <div class="col-md-3">
            <small>Submission Date : 0003-10-20 17:00:00</small>
        </div>

    </div>
</div>