
@{
    ViewBag.Title = "Proposal";
    Layout = "~/Views/Home/GrantProfile.cshtml";
}


<div class="m-portlet m-portlet--tabs m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link  active" data-toggle="tab" href="#m_tabs_12_1" role="tab" aria-expanded="true">
                        <i class="la la-file-o"></i>
                        Basic Info
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_2" role="tab" aria-expanded="false">
                        <i class="la la-file-text"></i>
                        Details
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_3" role="tab" aria-expanded="false">
                        <i class="la la-users"></i>
                        Members
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_4" role="tab" aria-expanded="false">
                        <i class="la la-history"></i>
                        History
                    </a>
                </li>

                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_5" role="tab" aria-expanded="false">
                        <i class="la la-tv"></i>
                        Equipment
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_6" role="tab" aria-expanded="false">
                        <i class="la la-money"></i>
                        Budget
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_7" role="tab" aria-expanded="false">
                        <i class="la la-upload"></i>
                        Attachment
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_12_8" role="tab" aria-expanded="false">
                        <i class="la la-pencil-square"></i>
                        Declaration
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="m_tabs_12_1" role="tabpanel" aria-expanded="true">
               
            </div>
            <div class="tab-pane" id="m_tabs_12_2" role="tabpanel" aria-expanded="false">
            
            </div>
            <div class="tab-pane " id="m_tabs_12_3" role="tabpanel" aria-expanded="false">
               
            </div>
            <div class="tab-pane" id="m_tabs_12_4" role="tabpanel" aria-expanded="false">
              
            </div>
            <div class="tab-pane" id="m_tabs_12_5" role="tabpanel" aria-expanded="false">
               
            </div>
            <div class="tab-pane" id="m_tabs_12_6" role="tabpanel" aria-expanded="false">
               
            </div>
            <div class="tab-pane" id="m_tabs_12_7" role="tabpanel" aria-expanded="false">
              
            </div>
            <div class="tab-pane" id="m_tabs_12_8" role="tabpanel" aria-expanded="false">
             
            </div>
        </div>
    </div>
</div>